<div class="fields">
  Subject Name
  <%= f.text_field :subject_name,:style=>"margin-left:10px;margin-bottom:7px;" %><%= link_to_remove_fields image_tag("delete_post.png",:style=>"background: none repeat scroll 0 0 #000000;margin-left: 9px;"), f  %>
</div>